@import 'src/index.scss';


.Contact {
  height: 30px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 5% 40% 25% 15% 15%;
  background-color: $color2;
  box-shadow: $boxShadow;
  &:hover {
    background-color: $color2l;
  }

  .Icon {
    min-width: 30px;
    margin: auto;

    .IconPerson {
      background-color: $colorIcon;
    }
  }

  .Name {
    line-height: 30px;
    min-width: 150px;
    padding: 0 10px;
    @include ellipsis;
    @include text16;
  }

  .Phone {
    line-height: 30px;
    min-width: 150px;
    padding: 0 10px;
    @include text14;
  }

  .Date {
    line-height: 30px;
    min-width: 150px;
    padding: 0 10px;
    @include text14;
  }
}