@import 'src/index.scss';


.Menu {
  display: flex;
  flex-direction: column;
  padding-top: 80px !important;

  .MenuItemContainer{
    position: relative;
    height: 50px;
    width: 50px;
    margin-bottom: 10px;

    .MenuItem {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 50px;
      line-height: 50px;
      width: 50px;
      @include text20;
      background-color: $colorButton; 
      color: $colorButtonText;
      cursor: pointer;
      box-shadow: $boxShadow;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        width: unset;
      }

      .IconPersonPlus {
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block !important;
        background-color: $color1;
        margin-right: 20px;
      }

      .MenuItemLabel{ 
        margin: 0 20px 0 80px;
      }
    }
  }
}